---
layout: default
---

{% include header.html %}
<div class="portfolio">
    <h1>Web Design:</h1>
    <ul>
        {% for websites in site.data.websites %}
        <li>
            <img src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/10405694_275330992649706_794849173502904233_n.jpg?oh=8d64d2a3a52358060ace19cd2f21eae9&oe=57EFDDC5" alt="Mr.Fred">
            <a href="{{ websites.url }}">{{ websites.url }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="blog">
    <h1>Blog Posts:</h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
