---
layout: default
---

{% include header.html %}
<div class="portfolio">
   
    <ul>
      <li><img src="/assets/img/image1.jpg" alt="EandI"</li>
  </ul>
    <ul>
        {% for websites in site.data.websites %}
        <li>
            <a href="{{ websites.url }}">{{ websites.url }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="blog">
    <h1>why i am sorry:</h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
